ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
ion-card img{
    
    height: 360px;
    width: 550px;
}
ion-card{
    text-align: center;
    width: 570px;
}
.palabras{
    color: blue;
}
.b{
    text-align: center;
    width: 130px;
}